<div class="container-fluid text-white">

	<h1 class="mb-5 display-1" align="center">About me</h1>
	<div class="row d-flex justify-content-center">
		<div class="row col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 p-5">
			<div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 mw-100">
				<img class="w-100" src="/assets/About_Me/About_Me.jpg" alt="my Picture">
			</div>
			<div class=" col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
				<h1 align="center">Sam(antha) Gades</h1>
				<p>Until I was about four or five I didn’t know I wasn’t a girl, to be honest with you. One of my earliest memories, about five years old, was being yelled at by a teacher for going to the toilet with the girls. About the same age I realised I was different to these other boys. At the age of nine I refused to have my hair cut. I didn’t have it cut until I was 16, because having it cut was such a torment to me.<br><br>School was extremely difficult. I got bullied a lot. I was picked on for being too thin, for being feminine, for not liking football, for hanging round with girls, for having long hair. They mocked everything they could think of in terms of gender and sexuality.</p>
			</div>
		</div>
	</div>

	<h1 class="mt-5 display-1" align="center">Technologies</h1>

	<div class="row d-flex justify-content-around my-5">
		<div class="row col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 my-5 shade">
			<div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 py-5">
				<img src="/assets/About_Me/Camera.jpg" alt="Camera">
			</div>
			<div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 py-5">
				<h5>Nikon D850 24-70mm F2.8E ED VR</h5>
				<ul>
					<li>Bajonettanschluß: Nikon F</li>
					<li>CMOS-Sensor mit 45,7 Mio Pixel (brutto)</li>
					<li>Lichtempfindlichkeit bis 64 - 25.600 ISO</li>
					<li>Spotbelichtung</li>
					<li>RAW-Files</li>
					<li>LiveView</li>
					<li>4K Video</li>
				</ul>
			</div>
		</div>
		<div class="row col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 my-5 shade">
			<div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 py-5">
				<img src="/assets/About_Me/Stativ.jpg" alt="Camera">
			</div>
			<div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 py-5">
				<h5>ESDDI 170cm/67inches Kamera Stativ</h5>
				<ul>
					<li>Material: Aluminum alloy and environmental protection ABS plastic</li>
					<li>Head type: Three-dimensional ballhead</li>
					<li>Load capacity: 4kg</li>
					<li>Column quantity: 3 sections</li>
				</ul>
			</div>
		</div>
		<div class="row col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 my-5 shade">
			<div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 py-5">
				<img src="/assets/About_Me/Lighting.jpg" alt="Camera">
			</div>
			<div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 py-5">
				<h5>Lighting system</h5>
				<ul>
					<li>(4)79"(7 Feet)/200cm Light Stan</li>
					<li>(2)33"/84cm white translucent umbrella</li>
					<li>(2)24"X24"/60x60cm Softbox</li>
					<li>(1)1.8 x 2.8M/6 x 9 ft Musline Backdrop(Black,White and Green)</li>
				</ul>
			</div>
		</div>
		<div class="row col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 my-5 shade">
			<div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 py-5">
				<img src="/assets/About_Me/Camcorder.jpg" alt="Camera">
			</div>
			<div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mw-100 py-5">
				<h5>Camcorder</h5>
				<ul>
					<li>F100 7-inch 1280x800 IPS Screen Field Monitor</li>
					<li>Support 4k Input</li>
					<li>Ballhead Arm for DSLR</li>
				</ul>
			</div>
		</div>
	</div>
</div>