<main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title">Explore the city</h2>
        <p class="copy">Best city views and exploring the streets of New York</p>
        <button class="btn" routerLink="/portfolio">Portfolio</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">The cutest dogs</h2>
        <p class="copy">Pictures of all the nicest dogs that are out there</p>
        <button class="btn" routerLink="/portfolio">Portfolio</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Maternity</h2>
        <p class="copy">Always remember the time of your struggle and joy</p>
        <button class="btn" routerLink="/portfolio">Portfolio</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Nature</h2>
        <p class="copy">Go out in to the woods, and breathe fresh air and relax. </p>
        <button class="btn" routerLink="/portfolio">Portfolio</button>
      </div>
    </div>
    <div class="card">
        <div class="content">
          <h2 class="title">Faces tell stories</h2>
          <p class="copy">People who i photographed with a story you won't believe</p>
          <button class="btn" routerLink="/portfolio">Portfolio</button>
    </div>
    </div>
    <div class="card">
        <div class="content">
          <h2 class="title">Wedding pictures</h2>
          <p class="copy">Never forget the best day in your and his life.</p>
          <button class="btn" routerLink="/portfolio">Portfolio</button>
    </div>
    </div>
    <div class="card">
        <div class="content">
          <h2 class="title">Explore the galaxy</h2>
          <p class="copy">Few pictures of space that never seen</p>
          <button class="btn" routerLink="/portfolio">Portfolio</button>
        </div>
      </div>
      <div class="card" >
        <div class="content">
          <h2 class="title">Marvelous cars</h2>
          <p class="copy">View pictures of the nicest cars that i could find. The best out there.</p>
          <button class="btn" routerLink="/portfolio">Portfolio</button>
        </div>
      </div>
  </main>
