<a class="heading" routerLink="/portfolio">Sam Gades</a>
<div class="button_container mr-3" id="toggle">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </div>
  
  <div class="overlay" id="overlay">
    <nav class="overlay-menu">
      <ul>
        <li ><a class="navi" routerLink="">Home</a></li>
        <li><a class="navi" routerLink="/portfolio">Portfolio</a></li>
        <li><a class="navi" routerLink="/about">About me</a></li>
        <li><a class="navi" routerLink="/contact">Contact</a></li>
        <li><a class="navi" routerLink="/product-list">Shop</a></li>
      </ul>
    </nav>
  </div>