<h1 class="text-white d-flex justify-content-center">Customers</h1>

<section class="grid">
	<a href="http://www.heumilch.at">		     
      <img src="assets/logos/heumilch.png">
      <section class="info text-dark">
          <p>HEUMILCH</p>
          <p>Campaign</p>
      </section>
    </a>
  <a href="http://www.baumax.at">		
    <img src="assets/logos/baumax.png">
    <section class="info text-dark">
        <p>BAUMAX</p>
        <p>Campaign</p>      
    </section> 
    </a>
	<a href="http://www.billa.at">		
    <img src="assets/logos/billa.png">
    <section class="info text-dark">
        <p>BILLA</p>
        <p>Retouching</p>      
    </section>
    </a>

	<a href="http://www.puch.at">		
    <img src="assets/logos/puch.png">
    <section class="info text-dark">
        <p>PUCH</p>
        <p>Campaign</p>      
    </section>
    </a>
	<a href="http://www.bosch.at">		
    <img src="assets/logos/bosch.png">
    <section class="info text-dark">
        <p>BOSCH</p>
        <p>Retouching</p>
    </section> 
    </a>
	<a href="http://www.casinosaustria.at">		
    <img src="assets/logos/casino.png">
    <section class="info text-dark">
        <p>CASINO WIEN</p>
        <p>Campaign</p>      
    </section>
    </a>
	<a href="http://www.douglas.at">		
    <img src="assets/logos/douglas.png">       	
    <section class="info text-dark">
        <p>DOUGLAS</p>
        <p>Retouching</p>
    </section>
    </a>

	<a href="http://www.ikea.at">		
    <img src="assets/logos/ikea.png">		
    <section class="info text-dark">
      <p>IKEA</p>
      <p>Retouching</p>      
    </section>
    </a>

    <a href="http://www.oebb.at">		
        <img src="assets/logos/oebb.png">
        <section class="info text-dark">
            <p>ÖBB</p>
            <p>Retouching</p>                  
        </section>
        </a>

	<a href="http://www.erste.at">		
    <img src="assets/logos/erstebank.png">
    <section class="info text-dark">
        <p>ERSTE BANK</p>
        <p>Retouching</p>                  
    </section>
    </a>	

	<a href="http://www.hofer.at">		
        <img src="assets/logos/hofer.png">
        <section class="info text-dark">
            <p>HOFER</p>
            <p>Campaign</p>
        </section>
        </a>
    
	<a href="http://www.gruene.at">		
    <img src="assets/logos/diegrünen.svg">
        <section class="info text-dark">
        <p>DIE GRÜNEN</p>
        <p>Retouching</p>      
    </section>
    </a>
	<a href="http://www.metro.at">		
    <img src="assets/logos/metro.png">
    <section class="info text-dark">
        <p>METRO</p>
        <p>Retouching</p>   
    </section>
    </a>
	<a href="http://www.interspar.at">		
    <img src="assets/logos/interspar.png">
    <section class="info text-dark">
        <p>INTERSPAR</p>
        <p>Retouching</p>    
    </section>
    </a>
  <a href="http://www.wuestenrot.at">		
    <img src="assets/logos/wuestenrot.png">
    <section class="info text-dark">
        <p>WÜSTENROT</p>
        <p>Retouching</p>      
    </section>
    </a>
</section>
