<section id="lab_social_icon_footer">
    <div class="container">
            <div class="text-center center-block">
                    <a href="#"><i id="social-fb" class="fab fa-facebook fa-3x social"></i></a>
                  <a href="#"><i id="social-tw" class="fab fa-twitter fa-3x social"></i></a>
                  <a href="#"><i id="social-sn" class="fab fa-snapchat fa-3x social"></i></a>
                  <a href="#"><i id="social-in" class="fab fa-instagram fa-3x social" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
    <p class="text-center text-white">&copy; Samantha Gades </p>